{% extends 'base.html' %}

{% block title %}HomePage{% endblock %}


{% block content %}

{% for pet in pets %}

    <p class="fs-3">{{pet.name}}</p>
    <ul>
        {% if pet.photo_url %}
        <img src="{{pet.photo_url}}" style="width: 200px; height: 200px">
        {% endif %}
    </ul>

    <span>
        {% if pet.available %}
        <bold>Available</bold>
        {% endif %}
    </span>

{% endfor %}

<form action="/pets/add">
    <button class= 'btn btn-md btn-success'>Add Pet</button>
</form>

{% endblock %}