{% extends 'base.html' %}

{% block title %}HomePage{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        {% for pet in pets %}
        <div class="col">
            <p class="fs-3">{{pet.name}}</p>
            <ul style="list-style-type: none;">
                {% if pet.photo_url %}
                <img src="{{pet.photo_url}}" style="width: 200px; height: 200px">
                {% endif %}
                <span>
                    {% if pet.available %}
                        <bold>Available</bold>
                    {% endif %}
                </span>
            </ul>
            <a href="/pets/{{pet.id}}">Edit</a>
        </div>    
        {% endfor %}
    </div>
</div>

<form action="/pets/add">
    <button class= 'btn btn-md btn-success'>Add Pet</button>
</form>

{% endblock %}